{% extends 'shop/base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                {% for image_item in product.prod_images.all %}
                    <div class="product-image-item">
                        <img src="{{ image_item.image.url }}" class="img-fluid"/>
                    </div>
                {% endfor %}
            </div>
            <div class="col-lg-6">
                <h1 class="text-center">
                    {{ product.name }}
                </h1>
                <div class="">
                    <p>
                        Price: {{ product.price }}
                    </p>
                </div>
                <div class="">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                      <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Описание</button>
                      </li>
                      <li class="nav-item" role="presentation">
                        <button class="nav-link" id="deliver-tab" data-bs-toggle="tab" data-bs-target="#deliver-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Доставка</button>
                      </li>
                      <li class="nav-item" role="presentation">
                        <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">Contact</button>
                      </li>
                      <li class="nav-item" role="presentation">
                        <button class="nav-link" id="disabled-tab" data-bs-toggle="tab" data-bs-target="#disabled-tab-pane" type="button" role="tab" aria-controls="disabled-tab-pane" aria-selected="false" disabled>Disabled</button>
                      </li>
                    </ul>

                    <div class="tab-content product-description-tabs" id="myTabContent">
                      <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
                          {{ product.description }}
                      </div>
                      <div class="tab-pane fade" id="deliver-tab-pane" role="tabpanel" aria-labelledby="deliver-tab" tabindex="0">
                          <h3>Как мы выполняем доставку</h3>
                      </div>
                      <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">...</div>
                      <div class="tab-pane fade" id="disabled-tab-pane" role="tabpanel" aria-labelledby="disabled-tab" tabindex="0">...</div>
                    </div>

                    <div>
                        <form id="form_buying_product" class="input-group" action="{% url 'order:basket_adding' %}">{% csrf_token %}
{#                      TODO: НУЖНО ЗАПОЛНИТЬ action  #}
                            <div class="form-group">
                                <input type="number" class="form-control" placeholder="Количество штук" aria-label="Количество штук" aria-describedby="submit_btn" id="number">
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-success btn-buy" id="submit_btn"
                                        data-product_id = "{{ product.id }}"
                                        data-price = "{{ product.price }}"
                                        data-name = "{{ product.name }}" >Купить</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}