<nav class="navbar navbar-top">
  <div class="container-fluid">
      <p>NAVBAR TOP</p>
  </div>
</nav>

<nav class="navbar sticky-top navbar-expand-md navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Expand at md</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04"
              aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample04">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Домой</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
          </li>
          <li class="nav-item dropdown basket-items" data-action="/basket_addingbasket_adding" id="nav_basket">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"
               aria-expanded="false">Корзина <span id="basket_total_amount"></span><span id="basket_total_nmb">
                {% if products_total_nmb %}
                    ({{ products_total_nmb }})
                {% endif %}
            </span></a>
            <ul class="dropdown-menu">
                {% for product_in_basket in products_in_basket %}
                    <li><a class="dropdown-item" href="#">Арт.{{ product_in_basket.product_id }} <b>
                        {{ product_in_basket.product.name }}</b> - {{ product_in_basket.nmb }} шт. *
                        {{ product_in_basket.price_per_item }} руб.</a>
                        <button type="button" class="btn-close delete-item" aria-label="Close"
                        data-product_id="{{ product_in_basket.product_id }}"></button>
                    </li>
                {% endfor %}
            </ul>
          </li>
        </ul>

        <form role="search">
          <input class="form-control" type="search" placeholder="Search" aria-label="Search">
        </form>
      </div>
    </div>
</nav>